---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.9.2
  creationTimestamp: null
  name: devfileregistries.registry.devfile.io
spec:
  group: registry.devfile.io
  names:
    kind: DevfileRegistry
    listKind: DevfileRegistryList
    plural: devfileregistries
    shortNames:
    - devreg
    - dr
    singular: devfileregistry
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: The URL for the Devfile Registry
      jsonPath: .status.url
      name: URL
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: DevfileRegistry is a custom resource where namespace users can
          add a Devfile Registry to allow devfiles to be visible at the namespace
          level.  In order to be added to the namespace, the Devfile Registry must
          be reachable, supports the Devfile v2.0 spec and above, and is not using
          the default namespace.
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: DevfileRegistrySpec defines the desired state of DevfileRegistry
            properties:
              devfileIndex:
                description: Sets the devfile index container spec to be deployed
                  on the Devfile Registry
                properties:
                  image:
                    description: Sets the container image
                    type: string
                  imagePullPolicy:
                    description: Sets the image pull policy for the container
                    type: string
                type: object
              devfileIndexImage:
                description: Sets the container image containing devfile stacks to
                  be deployed on the Devfile Registry
                type: string
              headless:
                description: Sets the registry server deployment to run under headless
                  mode
                type: boolean
              k8s:
                description: DevfileRegistrySpecK8sOnly defines the desired state
                  of the kubernetes-only fields of the DevfileRegistry
                properties:
                  ingressDomain:
                    description: Ingress domain for a Kubernetes cluster. This MUST
                      be explicitly specified on Kubernetes. There are no defaults
                    type: string
                type: object
              ociRegistry:
                description: Sets the OCI registry container spec to be deployed on
                  the Devfile Registry
                properties:
                  image:
                    description: Sets the container image
                    type: string
                  imagePullPolicy:
                    description: Sets the image pull policy for the container
                    type: string
                type: object
              ociRegistryImage:
                description: Overrides the container image used for the OCI registry.
                  Recommended to leave blank and default to the image specified by
                  the operator.
                type: string
              registryViewer:
                description: Sets the registry viewer container spec to be deployed
                  on the Devfile Registry
                properties:
                  image:
                    description: Sets the container image
                    type: string
                  imagePullPolicy:
                    description: Sets the image pull policy for the container
                    type: string
                type: object
              registryViewerImage:
                description: Overrides the container image used for the registry viewer.
                type: string
              storage:
                description: DevfileRegistrySpecStorage defines the desired state
                  of the storage for the DevfileRegistry
                properties:
                  enabled:
                    description: Instructs the operator to deploy the DevfileRegistry
                      with persistent storage Disabled by default.
                    type: boolean
                  registryVolumeSize:
                    description: Configures the size of the devfile registry's persistent
                      volume, if enabled. Defaults to 1Gi.
                    type: string
                type: object
              telemetry:
                description: Telemetry defines the desired state for telemetry in
                  the DevfileRegistry
                properties:
                  key:
                    description: Specify a telemetry key to allow devfile specific
                      data to be sent to a client's own Segment analytics source.
                      If the write key is specified then telemetry will be enabled
                    type: string
                  registryName:
                    description: The registry name (can be any string) that is used
                      as identifier for devfile telemetry.
                    type: string
                  registryViewerWriteKey:
                    description: Specify a telemetry write key for the registry viewer
                      component to allow data to be sent to a client's own Segment
                      analytics source. If the write key is specified then telemetry
                      for the registry viewer component will be enabled
                    type: string
                type: object
              tls:
                description: DevfileRegistrySpecTLS defines the desired state for
                  TLS in the DevfileRegistry
                properties:
                  enabled:
                    description: Instructs the operator to deploy the DevfileRegistry
                      with TLS enabled. Enabled by default. Disabling is only recommended
                      for development or test.
                    type: boolean
                  secretName:
                    description: Name of an optional, pre-existing TLS secret to use
                      for TLS termination on ingress/route resources.
                    type: string
                type: object
            type: object
          status:
            description: DevfileRegistryStatus defines the observed state of DevfileRegistry
            properties:
              url:
                description: URL is the exposed URL for the Devfile Registry, and
                  is set in the status after the registry has become available.
                type: string
            required:
            - url
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
